.image{
    background: transparent;
    margin: 0 auto;
    overflow: hidden;
    max-width: 100%;
    top: 0;
    left: 0;
    padding-top: 7.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-responsive{
    width: 100%;
    height: auto;
}
/* .text-box{
    display: flex;
    justify-content: center;
}
.text-animation {
    font-size: 100px;
    font-weight: bold;
    font-family: 'Inter';
    padding-top: 1em;
    animation: typing 2s steps(12), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
} */
.animated-text {
    height: 300px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    fill: #000;
    margin-top: 50px;
    margin-left: 200px;
}
.svg-animation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:768px) {
    .animated-text{
        height: 200px;
        margin-left: 100px;
    }
}