.image{
    background: transparent;
    margin: 0 auto;
    overflow: hidden;
    max-width: 100%;
    top: 0;
    left: 0;
    padding-top: 7.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-responsive{
    width: 100%;
    height: auto;
}
@media (min-width:1200px) {
    .image-responsive{
        width: 100%;
    }
}
@media (min-width:900px) {
    .image-responsive{
        width: 100%;
    }
}
@media (min-width:600px) {
    .image-responsive{
        width: 100%;
    }
}
@media (min-width:300px) {
    .image-responsive{
        width: 100%;
    }
}